
body {
    background-color: #133c55;
}

#barr {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#div1 {
    text-align: center;
    background-color: #a9a9a9;
    margin-top: -11px;
}


#div3{
    margin-right: 70px;
    margin-left: 530px;
}

ul {
    margin-right: 70px;
    margin-left: 100px;
}

#bar1,#bar2,#bar3,#bar4 {
    margin-top: -100px;
}

center {
    margin-top: -3px;
}

.missao {
    color: red;
}


